<nav class="navbar">
  <div class="container-fluid">
    <h1>Facilities Management</h1>
    <div class="d-flex">
      <button (click)="clickAddFacility()" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#facilityModal">Add New Facility</button>
    </div>
  </div>
</nav>


<table class="table mt-3">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Arabic Title</th>
    <th scope="col">License</th>
    <th scope="col">Users</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of facilityData">
    <td>{{row.id}}</td>
    <td>{{row.facilityName}}</td>
    <td>{{row.facilityNameAr}}</td>
    <td>{{row.facilityLicense}}</td>
    <td>
      <button (click)="viewFacilityUsers()" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#facilityUsersViewModal" >View Users</button>
    </td>
    <td class="d-flex">
      <button (click)="getAllUsers(row)" class="btn btn-outline-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="#facilityUsersModal">Add Users</button>
      <button (click)="onEdit(row)" class="btn btn-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="#facilityModal">Edit</button>
<!--      <button (click)="deleteUser(row)"  class="btn btn-danger">Delete</button>-->
      <button class="btn btn-warning" (click)="facilityActivation(row)">toggle activation</button>
    </td>

  </tr>
  </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="facilityModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="facilityList">
          <div class="mb-3">
            <label for="name" class="form-label">Facility Name</label>
            <input type="text" formControlName="facilityName" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Facility Name Ar</label>
            <input type="email" formControlName="facilityNameAr" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="titleAr" class="form-label">Facility License</label>
            <input type="text" formControlName="facilityLicense" class="form-control" id="titleAr">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="facilityCancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postFacilityDetails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click)="updateFacilityDetails()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="facilityUsersModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel5">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of facilityUsersData">
            <td>{{row.id}}</td>
            <td>{{row.facilityName}}</td>
            <td><button (click)="addFacilityUser(row)" class="btn btn-outline-primary">Add to Facility</button></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" id="facilityCancel3" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="facilityUsersViewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel2">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>License</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of facilityUsersList">
            <td>{{row.id}}</td>
            <td>{{row.facilityName}}</td>
            <td>{{row.facilityLicense}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" id="facilityCancel2" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
