<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;  $(document).ready(function(){&ndash;&gt;-->
<!--&lt;!&ndash;    // Activate tooltip&ndash;&gt;-->
<!--&lt;!&ndash;    $('[data-toggle="tooltip"]').tooltip();&ndash;&gt;-->
<!--&lt;!&ndash;    // Select/Deselect checkboxes&ndash;&gt;-->
<!--&lt;!&ndash;    var checkbox = $('table tbody input[type="checkbox"]');&ndash;&gt;-->
<!--&lt;!&ndash;    $("#selectAll").click(function(){&ndash;&gt;-->
<!--&lt;!&ndash;      if(this.checked){&ndash;&gt;-->
<!--&lt;!&ndash;        checkbox.each(function(){&ndash;&gt;-->
<!--&lt;!&ndash;          this.checked = true;&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;      } else{&ndash;&gt;-->
<!--&lt;!&ndash;        checkbox.each(function(){&ndash;&gt;-->
<!--&lt;!&ndash;          this.checked = false;&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;      }&ndash;&gt;-->
<!--&lt;!&ndash;    });&ndash;&gt;-->
<!--&lt;!&ndash;    checkbox.click(function(){&ndash;&gt;-->
<!--&lt;!&ndash;      if(!this.checked){&ndash;&gt;-->
<!--&lt;!&ndash;        $("#selectAll").prop("checked", false);&ndash;&gt;-->
<!--&lt;!&ndash;      }&ndash;&gt;-->
<!--&lt;!&ndash;    });&ndash;&gt;-->
<!--&lt;!&ndash;  });&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--<div class="container-xl">-->
<!--  <div class="table-responsive">-->
<!--    <div class="table-wrapper">-->
<!--      <div class="table-title">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-6">-->
<!--            <h2>Manage <b>Users</b></h2>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <table class="table table-striped table-hover">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>UserID</th>-->
<!--          <th>User Name</th>-->
<!--          <th>First Name</th>-->
<!--          <th>Last Name</th>-->
<!--          <th>ChangePassword</th>-->
<!--          <th> Update</th>-->
<!--          <th>Activate</th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        &lt;!&ndash;  fetch data from list &ndash;&gt;-->
<!--        <tr *ngFor="let user of users  " >-->
<!--          <td>{{user.clientID}}</td>-->
<!--          <td>{{user.userName}}</td>-->
<!--          <td>{{user.firstName}}</td>-->
<!--          <td>{{user.lastName}}</td>-->
<!--          <td>-->
<!--            <a href="#changePasswordModal" class="edit" data-toggle="modal">-->
<!--              <button class="btn btn-primary">ChangePassword</button>-->
<!--            </a>-->
<!--          </td>-->
<!--          <td>-->
<!--            <a href="#editEmployeeModal" class="edit" data-toggle="modal">-->
<!--              <button class="btn btn-primary">UpdateUser</button>-->
<!--            </a>-->
<!--          </td>-->
<!--          <td>-->
<!--            <button class="btn btn-danger">DeActivate</button>-->
<!--          </td>-->
<!--        </tr>-->

<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--&lt;!&ndash; Add Modal HTML &ndash;&gt;-->
<!--<div id="addEmployeeModal" class="modal fade">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <form [formGroup]="profileForm" (ngSubmit)="onSub()">-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title">Add Employee</h4>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--        </div>-->
<!--        <div class="modal-body ">-->
<!--           <div class="form-row col-md-12">-->
<!--          <div class="form-group col-md-6" >-->

<!--            <label> User Name</label>-->
<!--            <input formControlName="userName" type="text" class="form-control" required>-->
<!--          </div>-->

<!--          <div class="form-group  col-md-6">-->
<!--            <label>Password</label>-->
<!--            <input formControlName="password" type="email" class="form-control" required>-->
<!--          </div>-->
<!--           </div>-->
<!--          <div class="form-row col-md-12">-->
<!--          <div class="form-group col-md-6">-->
<!--            <label>First Name</label>-->
<!--            <input  formControlName="firstName" class="form-control" required>-->
<!--          </div>-->

<!--          <div class="form-group col-md-6">-->
<!--            <label>Last Name</label>-->
<!--            <input  formControlName="lastName" type="text" class="form-control" required>-->
<!--          </div>-->
<!--          </div>-->
<!--          <div class="form-row col-md-12">-->
<!--          <div class="form-group col-md-12">-->
<!--            <label>Client ID </label>-->
<!--            <input  formControlName="clientID" type="text" class="form-control" required>-->
<!--          </div>-->
<!--          </div>-->
<!--          <div class="form-row col-md-12">-->

<!--          <div class="form-group dropdown  col-md-12 ">-->
<!--            <button class="   btn-block btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--              List of Roles                            </button>-->
<!--            <div class="dropdown-menu col-md-12" aria-labelledby="dropdownMenuButton">-->
<!--              <a class="dropdown-item" href="#">roles1</a>-->
<!--              <a class="dropdown-item" href="#">Another action</a>-->
<!--              <a class="dropdown-item" href="#">Something else here</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          </div>-->
<!--        </div>-->



<!--        <div class="modal-footer">-->
<!--          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">-->
<!--          <input type="submit" class="btn btn-success uabb-modal-close" value="Add">-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Edit Modal HTML &ndash;&gt;-->
<!--<div id="editEmployeeModal" class="modal fade">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <form >-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title">Edit Employee</h4>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="form-group">-->
<!--            <label>User Name</label>-->
<!--            <input class="form-control" required>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label> First Name</label>-->
<!--            <input type="text" class="form-control" required>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label>Last Name</label>-->
<!--            <input type="email" class="form-control" required>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">-->
<!--&lt;!&ndash;          <input type="submit" class="btn btn-info" value="Save" >&ndash;&gt;-->

<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; ChangePassword Modal HTML &ndash;&gt;-->
<!--<div id="changePasswordModal" class="modal fade">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <form [formGroup]="changePasswordForm">-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title">Change Password</h4>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="form-group">-->
<!--            <label> New Password</label>-->
<!--            <input  formControlName="password" type="text" class="form-control" required>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <input type="button" id="cancel" class="btn btn-default" data-dismiss="modal" value="Cancel">-->
<!--          <input type="submit" class="btn btn-info" value="Save">-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Delete Modal HTML &ndash;&gt;-->
<!--<div id="deleteEmployeeModal" class="modal fade">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <form>-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title">DeActivate Employee</h4>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <input type="submit" class="btn btn-danger" value="DeActivate">-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<nav class="navbar  ">
  <div class="container-fluid">
    <h1 >users </h1>
    <div class="d-flex">
      <button (click)="clickAddUser()" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Employee</button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
  <tr>
    <th scope="col">Employee ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">User Name</th>
    <th scope="col">isActive</th>
    <th scope="col">changePassword</th>
    <th scope="col">edit</th>
    <th scope="col">delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of userData">
    <td>{{row.id}}</td>
    <td>{{row.firstName}}</td>
    <td>{{row.lastName}}</td>
    <td>{{row.userName}}</td>
    <td>
      <!-- *ngIf="row.isActive===true" style="background-color: blue" -->
      <button (click)="deActivateUser(row)" class=" btn btn-danger">DeActive</button>
    </td>
    <td>
      <button (click)="onchangePassword(row)"  data-bs-toggle="modal" data-bs-target="#changemodal"  class="btn btn-danger">changPassword</button>
    </td>
    <td>
      <button (click)="onEdit(row)"  class="btn btn-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit</button>
    </td>
<!--    <td>-->
<!--      <button (click)="onDelete(row)"  class="btn btn-primary me-2" type="button" >delet</button>-->
<!--    </td>-->

  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="profileForm">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="firstName" >
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="lastName">
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input type="email" formControlName="userName" class="form-control" id="userName">
          </div>
          <div *ngIf="showAdd" class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="text" formControlName="password" class="form-control" id="password">
          </div>

          <!--          <div  *ngIf="showAdd"  class="mb-3">-->
          <!--            <label for="clientID" class="form-label">clientID</label>-->
          <!--            <input type="text" formControlName="clientID" class="form-control" id="clientID">-->
          <!--          </div>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click)="updateUserDetails()" class="btn btn-primary">Update</button>
      </div>
    </div>

  </div>
</div>


<!-- ChangePassword Modal HTML -->
<div class="modal fade" id="changemodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cchangemodal">change password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="passwordform">
          <div class="form-group">
            <label> client ID </label>
            <div class="form-control"  type="text" >{{this.userModelObj.clientID }}
            </div>
            <!--          //  <input  formControlName="clientID"  required>-->
          </div>
          <div class="form-group">
            <label> Old Password</label>
            <input  formControlName="oldPassword" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label> New Password</label>
            <input  formControlName="newPassword" type="text" class="form-control" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <input type="button" id="cancelpass" class="btn btn-default" data-dismiss="modal" value="Cancel">
        <button  (click)="changePassword() " class="btn btn-primary"  type="submit" >change  </button>
      </div>
    </div>
  </div>
</div>


<!--<div class="modal fade" id="staticBackdrop1">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h1 class="modal-title fs-5" id="staticBackdrop1Label">Modal title</h1>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form [formGroup]="passwordform">-->
<!--          <div class="mb-3">-->
<!--            <label> client ID </label>&ndash;&gt;-->
<!--            <div class="form-control"  type="text" >{{this.userModelObj.clientID }}</div>-->
<!--          </div>-->
<!--          <div class="mb-3">-->
<!--            <label for="oldPassword" class="form-label">old password</label>-->
<!--            <input type="text" formControlName="oldPassword" class="form-control" id="oldPassword">-->
<!--          </div>-->
<!--          <div class="mb-3">-->
<!--            <label for="newPassword" class="form-label">new password</label>-->
<!--            <input type="email" formControlName="newPassword" class="form-control" id="newPassword">-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" id="cancelChange" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <button  (click)="changePassword() " class="btn btn-primary"  type="submit" >change  </button>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
