<nav class="navbar">
  <div class="container-fluid">
    <h1>Actions Management</h1>
    <div class="d-flex">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addActionsModal" (click)="clickAddAction()"><i class="material-icons"></i> <span>Add New Action</span></button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
  <tr>

    <th>code</th>
    <th>Name</th>
    <th>title</th>
    <th>titleAr</th>

    <th>Activate | Not Activate</th>
    <th>isview</th>
    <th>groupId</th>
    <th>ModuleId</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of actionData">

    <td>{{row.code}}</td>
    <td>{{row.name}}</td>
    <td>{{row.title}}</td>
    <td>{{row.titleAr}}</td>

    <td>{{row.isActive?'Active':'Not Active'}}</td>
    <td>{{row.isView}}</td>
    <td>{{row.groupid}}</td>
    <td>{{row.moduleid}}</td>

    <td>
      <button (click)="onEditAction(row)" data-toggle="modal" data-target="#editActionsModal"class="btn btn-primary">Edit</button>

<!--      <button (click)="deleteAction(row)" class="btn btn-danger">Delete</button>-->

    </td>
  </tr>

  </tbody>
</table>



<!--<div class="container-xl">-->
<!--    <div class="table-responsive">-->
<!--        <div class="table-wrapper">-->
<!--            <div class="table-title">-->
<!--                <div class="row">-->
<!--                    <div class="col-sm-6">-->
<!--                        <h2>Manage <b>Actions</b></h2>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6">-->
<!--                        <a href="#addActionsModal" class="btn btn-success" data-toggle="modal" (click)="clickAddAction()"><i class="material-icons"></i> <span>Add New Action</span></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <table class="table table-striped table-hover">-->
<!--                <thead>-->
<!--                    <tr>-->

<!--                        <td>#</td>-->
<!--                        <th>Name</th>-->
<!--                        <th>Activate | Not Activate</th>-->

<!--                    </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    <tr *ngFor="let row of actionData">-->

<!--                        <td>{{row.code}}</td>-->
<!--                        <td>{{row.name}}</td>-->
<!--                        <td>{{row.state?'Active':'Not Active'}}</td>-->
<!--                        <td>-->
<!--                            <button (click)="onEditAction(row)" data-toggle="modal" data-target="#editActionsModal"class="btn btn-primary">Edit</button>-->

<!--                            <button (click)="deleteAction(row)" class="btn btn-danger">Delete</button>-->

<!--                        </td>-->
<!--                    </tr>-->

<!--                </tbody>-->
<!--            </table>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Add Modal HTML -->
<div id="addActionsModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="actionsForm">
                <div class="modal-header">
                    <h4 class="modal-title">Add Action</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Code</label>
                    <input type="text" class="form-control" formControlName="code">
                  </div>
                  <div class="form-group">
                    <label>Name</label>
                    <input type="email" class="form-control" formControlName="name">
                  </div>
                  <div class="form-group">
                    <label>title</label>
                    <input type="email" class="form-control" formControlName="title">
                  </div>
                  <div class="form-group">
                    <label>titleAr</label>
                    <input type="email" class="form-control" formControlName="titleAr">
                  </div>

                  <div class="form-group">
                    <span>Active | Not Active</span>
                    <hr>
                    <label class="switch">

                      <input type="checkbox" formControlName="isActive">
                      <span class="slider round"></span>
                    </label>

                  </div>
                  <div class="form-group">
                    <span>View</span>
                    <hr>
                    <label class="switch">

                      <input type="checkbox" formControlName="isView">
                      <span class="slider round"></span>
                    </label>

                  </div>

                  <div class="form-group">
                    <label>group</label>
                    <input type="email" class="form-control" formControlName="groupid">
                  </div>
                  <div class="form-group">
                    <label>module</label>
                    <input type="email" class="form-control" formControlName="moduleid">
                  </div>
                </div>


                <div class="modal-footer">
                    <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Cancel">
                    <input type="submit" (click)="postActionsDetails()" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>

<!-- Edit Modal HTML -->
<div id="editActionsModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="actionsForm">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Action</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="form-control" formControlName="code">
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="email" class="form-control" formControlName="name">
                    </div>
                  <div class="form-group">
                    <label>title</label>
                    <input type="email" class="form-control" formControlName="title">
                  </div>
                  <div class="form-group">
                    <label>titleAr</label>
                    <input type="email" class="form-control" formControlName="titleAr">
                  </div>

                    <div class="form-group">
                        <span>Active | Not Active</span>
                        <hr>
                        <label class="switch">

                            <input type="checkbox" formControlName="isActive">
                            <span class="slider round"></span>
                        </label>

                    </div>
                  <div class="form-group">
                    <span>View</span>
                    <hr>
                    <label class="switch">

                      <input type="checkbox" formControlName="isView">
                      <span class="slider round"></span>
                    </label>

                  </div>

                  <div class="form-group">
                    <label>group</label>
                    <input type="email" class="form-control" formControlName="groupid">
                  </div>
                  <div class="form-group">
                    <label>module</label>
                    <input type="email" class="form-control" formControlName="moduleid">
                  </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Cancel">
                    <input type="submit" (click)="updateActionsDetails()" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

</div>
