<!--<nav class="navbar navbar-default">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <a class="navbar-brand" href="#">userManagementSystem</a>-->
<!--    </div>-->
<!--    <ul class="nav navbar-nav">-->
<!--      <li><a  class="nav-link active"  routerLink="/login" *ngIf="!authvalue">login </a></li>-->
<!--    </ul>-->
<!--      <ul  class="nav navbar-nav navbar-right" >-->
<!--&lt;!&ndash;           *ngIf="authvalue">&ndash;&gt;-->
<!--        <li> <a  class="nav-link active"  routerLink="/application" >application</a></li>-->
<!--        <li> <a  class="nav-link active"  routerLink="/user1">users</a></li>-->
<!--        <li> <a  class="nav-link active"  routerLink="/roles">roles</a></li>-->
<!--        <li> <a  class="nav-link active"  routerLink="/groups">groups</a></li>-->
<!--        <li> <a  class="nav-link active"  routerLink="/facilities">Facilities</a></li>-->

<!--        <li> <a  class="nav-link active"  routerLink="/logout" >-->
<!--&lt;!&ndash;                 (click)="logOut()"&ndash;&gt;-->
<!--        >logout-->
<!--          </a></li>-->
<!--      </ul>-->
<!--  </div>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">userManagementSystem</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/application">application</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/roles">roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/groups">groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/facilities">Facilities</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0 navbar-right">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
  </form>
</nav>
