<p-table [value]="facilities">
    <ng-template pTemplate="header">
        <tr>
            <th>name</th>
            <th>license</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-facility>
        <tr>
            <td>{{facility.name}}</td>
            <td>{{facility.license}}</td>
        </tr>
    </ng-template>
</p-table>
