<nav class="navbar">
  <div class="container-fluid">
    <h1>Groups Management</h1>
    <div class="d-flex">
      <button (click)="clickAddGroup()" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#groupModal">Add New Group</button>
    </div>
  </div>
</nav>


<table class="table mt-3">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Code</th>
    <th scope="col">Name</th>
    <th scope="col">Title</th>
    <th scope="col">Arabic Title</th>
    <th scope="col">Actions List</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of groupsData">
    <td>{{row.id}}</td>
    <td>{{row.code}}</td>
    <td>{{row.groupName}}</td>
    <td>{{row.grouptitle}}</td>
    <td>{{row.grouptitleAr}}</td>
    <td>
      <button (click)="viewGroupActions()" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#groupActionsViewModal">View Actions</button>
    </td>
    <td class="d-flex">
      <button (click)="getAllActions(row)" class="btn btn-outline-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="#groupActions">Add Users</button>
      <button (click)="onEdit(row)" class="btn btn-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="#groupModal">Edit</button>
      <!--      <button (click)="deleteUser(row)"  class="btn btn-danger">Delete</button>-->
      <button class="btn btn-warning" (click)="groupActivation(row)">toggle activation</button>
    </td>

  </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="groupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="groupList">
          <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="text" formControlName="code" class="form-control" id="id" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="groupName" class="form-label">Name</label>
            <input type="text" formControlName="groupName" class="form-control" id="groupName">
          </div>
          <div class="mb-3">
            <label for="grouptitle" class="form-label">Title</label>
            <input type="email" formControlName="grouptitle" class="form-control" id="grouptitle">
          </div>
          <div class="mb-3">
            <label for="grouptitleAr" class="form-label">Arabic Title</label>
            <input type="text" formControlName="grouptitleAr" class="form-control" id="grouptitleAr">
          </div>
          <!--          <div class="mb-3">-->
          <!--            <label for="isActive" class="form-label"></label>-->
          <!--            <input type="checkbox" formControlName="isActive" class="form-control" id="isActive">-->
          <!--          </div>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postGroupDetails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click)="updateGroupDetails()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="groupActions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="roleUsersTitle">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of groupActionsData">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td><button (click)="addGroupAction(row)" class="btn btn-outline-primary">Add To Group</button></td>
          </tr>
          </tbody>
        </table>
        <!--        </form>-->
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!--        <button type="button" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-primary">Add</button>-->
        <!--        <button type="button" *ngIf="showUpdate" (click)="updateUserDetails()" class="btn btn-primary">Update</button>-->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="groupActionsViewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="roleUsersTitle2">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>title</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of groupActionsList">
            <td>{{row.id}}</td>
            <td>{{row.title}}</td>
            <td>{{row.titleAr}}</td>
          </tr>
          </tbody>
        </table>
        <!--        </form>-->
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!--        <button type="button" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-primary">Add</button>-->
        <!--        <button type="button" *ngIf="showUpdate" (click)="updateUserDetails()" class="btn btn-primary">Update</button>-->
      </div>
    </div>
  </div>
</div>
