<nav class="navbar">
  <div class="container-fluid">
    <h1>Applications Management</h1>
    <div class="d-flex">
      <button (click)="clickAddApplication()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployeeModal" ><i class="material-icons"></i> <span>Add New Application</span></button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
  <tr>

    <th>code</th>
    <th>name</th>
    <th>title</th>
    <th>titleAr</th>
    <th>Active | Not Active</th>
    <th>Show Modules</th>
    <th colspan="2">Actions</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of applicationData; let i=index">
    <td>{{row.code}}</td>
    <td>{{row.name}}</td>
    <td>{{row.title}}</td>
    <td>{{row.titleAr}}</td>
    <td >{{row.isActive?'Active':'Not Active'}}</td>
    <td><button [routerLink]="['/application',row.code]" (click)="getApplicationById(row)" class="btn btn-primary">ShowModules</button></td>
    <td>
      <button (click)="onEdit(row)" data-toggle="modal" data-target="#editEmployeeModal"class="btn btn-primary">Edit</button>
    </td>
    <td>
      <button (click)="deleteApplication(row)" class="btn btn-danger">Delete</button>
    </td>
  </tr>

  </tbody>
</table>

<!--<body>-->
<!--<div class="container-xl">-->
<!--	<div class="table-responsive">-->
<!--		<div class="table-wrapper">-->
<!--			<div class="table-title">-->
<!--				<div class="row">-->
<!--					<div class="col-sm-6">-->
<!--						<h2>Manage <b>Applications</b></h2>-->
<!--					</div>-->
<!--					<div class="col-sm-6">-->
<!--						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal" (click)="clickAddApplication()"><i class="material-icons"></i> <span>Add New Application</span></a>-->

<!--					</div>-->

<!--				</div>-->
<!--			</div>-->
<!--			<table class="table table-striped table-hover">-->
<!--				<thead>-->
<!--					<tr>-->

<!--						<th>code</th>-->
<!--						<th>name</th>-->
<!--						<th>title</th>-->
<!--						<th>titleAr</th>-->
<!--						<th>Active | Not Active</th>-->



<!--					</tr>-->
<!--				</thead>-->
<!--				<tbody>-->
<!--					<tr *ngFor="let row of applicationData; let i=index">-->
<!--						<td>{{row.code}}</td>-->
<!--						<td>{{row.name}}</td>-->
<!--						<td>{{row.title}}</td>-->
<!--						<td>{{row.titleAr}}</td>-->
<!--						<td >{{row.isActive?'Active':'Not Active'}}</td>-->
<!--						<td><button [routerLink]="['/application',row.code]" (click)="getApplicationById(row)" class="btn btn-primary">ShowModules</button></td>-->
<!--						<td>-->
<!--							<button (click)="onEdit(row)" data-toggle="modal" data-target="#editEmployeeModal"class="btn btn-primary">Edit</button>-->
<!--							<button (click)="deleteApplication(row)" class="btn btn-danger">Delete</button>-->
<!--						</td>-->
<!--					</tr>-->

<!--				</tbody>-->
<!--			</table>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

<!--</body>-->



<div id="addEmployeeModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form [formGroup]="applicationForm">
				<div class="modal-header">
					<h4 class="modal-title">Add Application</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Code</label>
						<input type="text" class="form-control" formControlName="code">
					</div>
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" formControlName="name">
					</div>
					<div class="form-group">
						<label>title</label>
						<input type="text" class="form-control" formControlName="title">
					</div>
					<div class="form-group">
						<label>titleAr</label>
						<input type="text" class="form-control" formControlName="titleAr">
					</div>
					<div class="form-group">
						<span>Active | Not Active</span>
						<hr>
						<label class="switch">

							<input type="checkbox" formControlName="isActive">
							<span class="slider round"></span>
						</label>

					</div>

				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Cancel">
					<button type="button" *ngIf="showAdd" (click)="postApplicationDetails()" class="btn btn-primary">Add</button>
                    <button type="button" *ngIf="showUpdate" (click)="updateApplicationDetails()" class="btn btn-primary">Update</button>

				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form [formGroup]="applicationForm">
				<div class="modal-header">
					<h4 class="modal-title">Edit Application</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Code</label>
						<input type="text" class="form-control" formControlName="code">
					</div>
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" formControlName="name">
					</div>
					<div class="form-group">
						<label>title</label>
						<input type="text" class="form-control" formControlName="title">
					</div>
					<div class="form-group">
						<label>titleAr</label>
						<input type="text" class="form-control" formControlName="titleAr">
					</div>
					<div class="form-group">
						<span>Active | Not Active</span>
						<hr>
						<label class="switch">

							<input type="checkbox" formControlName="isActive">
							<span class="slider round"></span>
						</label>

					</div>


				</div>

				<div class="modal-footer">
					<input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Cancel">
					<input type="submit" (click)="updateApplicationDetails()" class="btn btn-info" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>








