<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facility</title>
    </h:head>
    <h:body>
       <h:form id="form">
        <p:growl id="messages" showDetail="true" />
        
        <p:dataTable id="dt-Facilities" widgetVar="dtFacilities" var="facility" value="#{facilitiesBean.facilitylist}"
                     reflow="true" styleClass="dtTableClasse" selection="#{facilitiesBean.selectedfacilities}"
                     rowKey="#{facility.facilityId}" paginator="true" rows="10" rowSelectMode="add" paginatorPosition="bottom">
            
        <f:facet name="header">
                 <p:toolbar>
             <p:toolbarGroup>
               <p:commandButton value=" Add " icon="pi pi-plus" actionListener="#{facilitiesBean.openNew()}" oncomplete="PF('FacilityDialog').show();"
                             update='dialogs:manage-Facility-content' styleClass="ui-button-sucsess" >
                   <p:resetInput target="dialogs:manage-Facility-content" />
                </p:commandButton>
                 
           
             </p:toolbarGroup>
            <p:toolbarGroup>  
                 <span class=" text-yellow-600" style="font-weight: bold; margin-right: 10px; " > Facilities </span>
                    <span class="filter-container ui-input-icon-left"> <i class="pi pi-search"></i>
                        <p:inputText id="globalFilter" onkeyup="PF('dtFacilities').filter()" placeholder="Search" />
                        </span> 
                
                
            </p:toolbarGroup>
            </p:toolbar>  
        </f:facet>
            
             <p:column width="20px" selectionMode="multiple" exportable="false"></p:column>
             
             <p:column id="id" width="60px" headerText="ID" class=" text-yellow-700" sortBy="#{facility.facilityId}" filterBy="#{facility.facilityId}">
                <h:outputText value="#{facility.facilityId}" style="font-weight: 500" class=" text-cyan-900" />
            </p:column>
             <p:column  width="90px" headerText="Facility Name" class=" text-yellow-700" sortBy="#{facility.facilityName}" filterBy="#{facility.facilityName}">
                       <h:outputText value="#{facility.facilityName}" style="font-weight: 500" class=" text-cyan-900" />
            </p:column>
            <p:column headerText=" Arabic Facility Name" class=" text-yellow-700" sortBy="#{facility.arabicFacilityName}" filterBy="#{facility.arabicFacilityName}">
                <h:outputText value="#{facility.arabicFacilityName}"  style="font-weight: 700 " class=" text-cyan-900" />
            </p:column>
             <p:column headerText=" Facility License " class=" text-yellow-700" sortBy="#{facility.facilityLicense}" filterBy="#{facility.facilityLicense}">
                <h:outputText value="#{facility.facilityLicense}" class=" text-cyan-900"/>
            </p:column>
            
            ------ <p:column headerText="View Users">
                 <p:commandButton value="view" update=":form:messages :dialogs2:user_Dialog" actionListener="#{facilitiesBean.fetchFacilityUser()}"
                               oncomplete="PF('UserDialog').show()" styleClass="rounded-button ui-button-secondry"  process="@this" > 
                     <f:setPropertyActionListener value="#{facility}" target="#{facilitiesBean.facility}" />
                 
              </p:commandButton>
            </p:column>
           
        
            <p:column exportable="false">
                <p:commandButton icon="pi pi-pencil" styleClass="edit-button rounded-button ui-button-sucsess"  update=":dialogs:manage-Facility-content"
                    oncomplete="PF('FacilityDialog').show()"
                    process="@this">
                    <f:setPropertyActionListener value="#{facility}" target="#{facilitiesBean.facility}" />
                    <p:resetInput target=":dialogs:manage-Facility-content" />
                </p:commandButton>
                
            </p:column>
            
        
               </h:form>
        
        
        
        
        
    <h:form id="dialogs">
        <p:dialog header="Facility Details" showEffect="fade" modal="true" widgetVar="FacilityDialog"
            responsive="true">
             <p:outputPanel id="manage-Facility-content" class="ui-fluid">
                 <p:outputPanel rendered="#{not empty facilitiesBean.facility}">
                    
                    <div class="field">
                        <p:outputLabel style="font-weight: bold; " class=" text-green-700 " for="facilityName">Facility Name :</p:outputLabel>
                        <p:inputText id="facilityName" value="#{facilitiesBean.facility.facilityName}" required="true" />
                    </div>
                    <div class="field">
                        <p:outputLabel style="font-weight: bold; " class=" text-green-700 " for="arabicFacilityName">Arabic Facility Name :</p:outputLabel>
                        <p:inputText id="arabicFacilityName" value="#{facilitiesBean.facility.arabicFacilityName}" required="true" />
                    </div>
                     <div class="field">
                        <p:outputLabel style="font-weight: bold; " class=" text-green-700 " for="facilityLicense"> Facility License :</p:outputLabel>
                        <p:inputText id="facilityLicense" value="#{facilitiesBean.facility.facilityLicense}" required="true" />
                    </div>
                   
                  </p:outputPanel>
            </p:outputPanel>
            <f:facet name="footer">
                <p:commandButton value="Save"  icon="pi pi-check"  styleClass=" rounded-button ui-button-warning" actionListener="#{facilitiesBean.saveFacility()}"   update="manage-Facility-content" process="manage-Facility-content @this"  />
                    
                <p:commandButton value="Cancel" styleClass=" rounded-button ui-button-secondary  " icon="pi pi-times"  onclick="PF('FacilityDialog').hide()" type="button"/>
                   
            </f:facet>
     </h:form>  
        
        <h:form id="dialogs2"> 
        <p:dialog id="user_Dialog" header="List Of Users" showEffect="fade" modal="true" widgetVar="UserDialog"
                  responsive="true" width="750px">
             
            <p:toolbarGroup id="tooluser">
                <p:commandButton value=" Add " icon="pi pi-plus" actionListener="#{facilitiesBean.savefacilityUser()}" 
                                  process="tooluser @this" oncomplete="PF('AdduserDialog').show()"  update='form:messages dialogs3:adduser @this'    styleClass="ui-button-info" style="margin-right: .5rem">
                   <p:resetInput target="tooluser" />
                </p:commandButton>
            </p:toolbarGroup> 
              
            <p:dataTable id="dt-facilityuser" widgetVar="dtfacilityuser" var="facilityuser" value="#{FacilitiesBean.listFacilityUser}"
                         reflow="true" styleClass="Users-table" selection="#{facilitiesBean.selected_FacilityUser}"
                         rowKey="#{facilityuser.id}" paginator="true" rows="10" rowSelectMode="add" paginatorPosition="bottom">
    
            <p:column  class=" text-indigo-900 " headerText=" ID" sortBy="#{facilityuser.user.id}" filterBy="#{facilityuser.user.id}"  width="100 px">
                <h:outputText value="#{facilityuser.user.id}" />
            </p:column>
                <p:column  class=" text-indigo-900 " headerText=" User Name" sortBy="#{facilityuser.user.userName}" filterBy="#{facilityuser.user.userName}"  width="100 px">
                <h:outputText value="#{facilityuser.user.userName}" />
            </p:column>
              
            <p:column  class=" text-indigo-900 " headerText=" Password" sortBy="#{facilityuser.user.password}" filterBy="#{facilityuser.user.password}" width="70 px" >
                <h:outputText value="#{facilityuser.user.password}"   />
            </p:column>
                <p:column headerText=" First Name" sortBy="#{facilityuser.user.firstName}" filterBy="#{facilityuser.user.firstName}" width="50 px">
                <h:outputText value="#{facilityuser.user.firstName}" />
            </p:column>
            <p:column  class=" text-indigo-900 " headerText=" Last Name" sortBy="#{facilityuser.user.lastName}" filterBy="#{facilityuser.user.lastName}" width="50 px">
                <h:outputText value="#{facilityuser.user.lastName}" />
            </p:column>
            <p:column  class=" text-indigo-900 " headerText=" Active" sortBy="#{facilityuser.user.active}" filterBy="#{facilityuser.user.active}" width="50 px">
                    <h:outputText value="#{facilityuser.user.active}" />
            </p:column>
            
        </p:dataTable>
        </p:dialog>
    </h:form>  
        
        
     <h:form id="dialogs3" >
          <p:dialog id="adduser" header="Add User" showEffect="fade" modal="true" widgetVar="AdduserDialog"
                      responsive="true" width="500px">
            <p:outputPanel id="Add_user_Dialog" class="ui-fluid">
                
                
          
               <div class="field">
                        <p:outputLabel class=" text-teal-900 " style="font-weight: bold; " for="UserName">User Name :</p:outputLabel>
                        <p:inputText id="UserName" value="#{facilitiesBean.facilityUser.user.userName}" placeholder="UserName" />
                </div>
                <div class="field">
                        <p:outputLabel style="font-weight: bold; " for="Password">Password :</p:outputLabel>
                        <p:inputText id="Password" value="#{facilitiesBean.facilityUser.user.password}" placeholder="Password" />
                </div>
                <div class="field">
                        <p:outputLabel class=" text-teal-900 " style="font-weight: bold; " for="FirstName">First Name :</p:outputLabel>
                        <p:inputText id="FirstName" value="#{facilitiesBean.facilityUser.user.firstName}" placeholder="FirstName" />
                </div>
                <div class="field">
                        <p:outputLabel class=" text-teal-900 " style="font-weight: bold; " for="lastName">last Name :</p:outputLabel>
                        <p:inputText id="lastName" value="#{facilitiesBean.facilityUser.user.lastName}" placeholder="lastName" />
                </div>
                <div class="field">
                        <p:outputLabel class=" text-teal-900 " style="font-weight: bold; "  for="active">Active </p:outputLabel>
                        <p:selectBooleanCheckbox id="active" value="#{facilitiesBean.facilityUser.user.active}"  itemLabel="#{facilityuser.user.active}" />
                </div>     
               
            </p:outputPanel>
                 <f:facet name="footer">
                     <p:commandButton value="Save"  icon="pi pi-check"  actionListener="#{facilitiesBean.savefacilityUser()}"  styleClass="rounded-button ui-button-warning" update="Add_user_Dialog" process="Add_user_Dialog @this"  />
                </f:facet>
            </p:dialog>   
        </h:form>
        
        
    </h:body>
</html>

