<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Group</title>
       <h:outputStylesheet library="css" name="primeflex/primeflex.css"/>
    </h:head>
    
    <h:body>
     <h:form id="form">
        <p:growl id="messages" showDetail="true" />
        
        <p:dataTable id="dt-Groups" widgetVar="dtGroups" var="group" value="#{groupBean.grouplist}"
                     reflow="true" styleClass="dtTableClasse" selection="#{groupBean.selectedGroups}"
                     rowKey="#{group.id}" paginator="true" rows="10" rowSelectMode="add" paginatorPosition="bottom">
            
           <f:facet name="header">
                 <p:toolbar>
             <p:toolbarGroup>
                 <p:commandButton value=" Add " icon="pi pi-plus" actionListener="#{groupBean.openNew()}" oncomplete="PF('GroupDialog').show();"
                             update='dialogs:manage-Group-content' styleClass="ui-button-help" >
                   <p:resetInput target="dialogs:manage-Group-content" />
                </p:commandButton>
                 
           
             </p:toolbarGroup>
            <p:toolbarGroup>  
                <span class=" text-pink-800" style="font-weight: bold; margin-right: 10px; " > Groups </span>
                    <span class="filter-container ui-input-icon-left"> <i class="pi pi-search"></i>
                        <p:inputText id="globalFilter" onkeyup="PF('dtGroups').filter()" placeholder="Search" />
                        </span> 
                
                 
            </p:toolbarGroup>
        </p:toolbar>  
            </f:facet>
                   <p:column width="20px" selectionMode="multiple" exportable="false"></p:column>
                   
            <p:column id="id" width="60px" headerText="ID" class=" text-cyan-700" sortBy="#{group.id}" filterBy="#{group.id}">
                <h:outputText value="#{group.id}" style="font-weight: 500" class=" text-cyan-900" />
            </p:column>
                   <p:column  width="90px" headerText="Code" class=" text-cyan-700" sortBy="#{group.code}" filterBy="#{group.code}">
                       <h:outputText value="#{group.code}" style="font-weight: 500" class=" text-cyan-900" />
            </p:column>
            <p:column headerText=" Name" class=" text-cyan-700" sortBy="#{group.name}" filterBy="#{group.name}">
                <h:outputText value="#{group.name}"  style="font-weight: 700 " class=" text-cyan-900" />
            </p:column>
            <p:column headerText=" Title " class=" text-cyan-700" sortBy="#{group.title}" filterBy="#{group.title}">
                <h:outputText value="#{group.title}" class=" text-cyan-900"/>
            </p:column>
            
            <p:column headerText="Arabic Title " class=" text-cyan-700" sortBy="#{group.titleAr}" filterBy="#{group.titleAr}">
                <h:outputText value="#{group.titleAr}"  class=" text-cyan-900"/>
            </p:column>
                
            <p:column width="90px"  headerText="Is Activate ? " class=" text-cyan-700" sortBy="#{group.active}" filterBy="#{group.active}">
                <h:outputText value="#{group.active}"   class=" text-primary-900"/>
            </p:column>
        
            <p:column exportable="false">
                <p:commandButton icon="pi pi-pencil" styleClass="edit-button rounded-button ui-button-help"  update=":dialogs:manage-Group-content"
                    oncomplete="PF('GroupDialog').show()"
                    process="@this">
                    <f:setPropertyActionListener value="#{group}" target="#{groupBean.group}" />
                    <p:resetInput target=":dialogs:manage-Group-content" />
                </p:commandButton>
                
            </p:column>
         
        </p:dataTable>
        </h:form> 
        
        <h:form id="dialogs">
        <p:dialog  header="Group Details" showEffect="fade" modal="true" widgetVar="GroupDialog"
            responsive="true">
             <p:outputPanel id="manage-Group-content" class="ui-fluid">
                 <p:outputPanel rendered="#{not empty groupBean.group}">
                    
                    <div class="field">
                        <p:outputLabel style="font-weight: bold; " class=" text-purple-600 " for="code">Code :</p:outputLabel>
                        <p:inputText id="code" value="#{groupBean.group.code}" required="true" />
                    </div>

                     <div class="field">
                        <p:outputLabel style="font-weight: bold; " class=" text-purple-600 " for="name"> Name :</p:outputLabel>
                        <p:inputText id="name" value="#{groupBean.group.name}" required="true" />
                    </div>
                    <div class="field">
                        <p:outputLabel style="font-weight: bold; " class=" text-purple-600 " for="title">Title :</p:outputLabel>
                        <p:inputText id="title" value="#{groupBean.group.title}"  />
                    </div>
                    <div class="field">
                        <p:outputLabel style="font-weight: bold; " class=" text-purple-600 " for="titleAr">Title Arabic :</p:outputLabel>
                        <p:inputText id="titleAr" value="#{groupBean.group.titleAr}" required="false"  />
                    </div>
                     <div class="field">
                        <p:outputLabel style="font-weight: bold; " class=" text-purple-600 " for="active">Active </p:outputLabel>
                        <p:selectBooleanCheckbox id="active" value="#{groupBean.group.isActive}"  itemLabel="#{group.active}" />
                    </div>  
                 
                     
                     
                     
                </p:outputPanel>
                 </p:outputPanel>
            
            <f:facet name="footer">
                <p:commandButton value="Save"  icon="pi pi-check"  styleClass=" rounded-button ui-button-help" actionListener="#{groupBean.saveGroup()}"   update="manage-Group-content" process="manage-Group-content @this"  />
                    
                <p:commandButton value="Cancel" styleClass=" rounded-button ui-button-secondary  " icon="pi pi-times"  onclick="PF('GroupDialog').hide()" type="button"/>
                   
            </f:facet>
            
        </p:dialog>
     </h:form>  
    </h:body>
</html>

