<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html;charset=UTF-8" encoding="UTF-8">
        <h:head>
            <h:outputStylesheet library="css" name="primeflex/primeflex.css"/>
        </h:head>
        <h:body>
                <div  class="block-content-active px-4 py-8 md:px-6 lg:px-8">
                    <div tyle="display: block!important;" class="flex align-items-center justify-content-center">
                        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
                            <div class="text-center mb-5">
                                <p:graphicImage name="hyper.svg" library="images" alt="Image"
                                                height="50" styleClass="mb-3"/>
                            </div>

                            <div>
                                <label for="email1" class="block text-900 font-medium mb-2">Email</label>
                                <p:inputText id="email1" styleClass="w-full mb-3"/>

                                <label for="password1" class="block text-900 font-medium mb-2">Password</label>
                                <p:inputText id="password1" type="password" styleClass="w-full mb-3"/>

                                <div class="flex align-items-center justify-content-between mb-6">
                                    <div class="flex align-items-center">
                                        <p:selectBooleanCheckbox id="rememberme" styleClass="mr-2"/>
                                        <label for="rememberme">Remember me</label>
                                    </div>
                                    <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot your password?</a>
                                </div>

                                <p:commandButton type="button" value="Sign In" icon="pi pi-user" styleClass="w-full"/>
                            </div>
                        </div>
                    </div>
            </div>
        </h:body>
    </f:view>

</html>