<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
          
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Roles</title>
    </h:head>
    <h:body>
        <h:form id="roleform"> 
     
            <p:panelGrid columns="6" id="spanel">
                <p:outputLabel value="Name: ">
                    <p:inputText value="#{roleBean.role.name}">
                    </p:inputText>
                </p:outputLabel>
                
                <p:outputLabel value="Title: ">
                    <p:inputText value="#{roleBean.role.title}">
                    </p:inputText>
                </p:outputLabel>
                
                <p:outputLabel value="Title Arabic ">
                    <p:inputText value="#{roleBean.role.titleAr}">
                    </p:inputText>
                </p:outputLabel>
                
                <p:outputLabel value="Is Active:">
                    <p:inputText value="#{roleBean.role.active}">
                    </p:inputText>
                </p:outputLabel>
                
               
                <p:commandButton value="Add Role" actionListener="#{roleBean.doadd()}"   update="rolelistdata,spanel"/>
           
            </p:panelGrid>
            <p:dataTable value="#{roleBean.roles}" var="role" id="rolelistdata">
                    <p:column headerText="Name:">
                        <p:outputLabel value="#{role.name}"/>
                    </p:column>
                
                 <p:column headerText="Title">
                     <p:outputLabel value="#{role.title}"/>
                    </p:column>
                 <p:column headerText="Title Ar">
                     <p:outputLabel value="#{role.titleAr}"/>
                    </p:column>
       <p:column headerText="Is Active">
           <p:outputLabel value="#{role.active}"/>
                    </p:column>
                
                    <p:column headerText="edit">
                        <p:commandButton value="edit" actionListener="#{roleBean.doedit()}" onstart="PF('testdlg').show()" />
                    </p:column>     
                
                <p:column headerText="Remove Users from Role">
                    <p:commandButton value="viewusers"  onstart="PF('testviewroleusersanddelete').show()" />
                    </p:column>  
                
                <p:column headerText="Add User to Role">
                    <p:commandButton value="viewusers"  onstart="PF('testaddroleuser').show()" />
                    </p:column>  
                
                <p:column headerText="Add Action to Role">
                    <p:commandButton value="viewusers"  onstart="PF('testaddroleaction').show()" />
                    </p:column> 
                
                
            <!-- Dialog to Edit Data of the Role//////////////////////////////// -->

                    
                 <p:dialog widgetVar="testdlg" id="fdsfds">
                                <p:outputLabel value="Name ">
                                    <p:inputText value="#{roleBean.role.name}">
                    </p:inputText>
                </p:outputLabel>
                     
                     <p:outputLabel value="Title ">
                         <p:inputText value="#{roleBean.role.title}">
                    </p:inputText>
                </p:outputLabel>
                     
                     <p:outputLabel value="Title Ar ">
                         <p:inputText value="#{roleBean.role.titleAr}">
                    </p:inputText>
                </p:outputLabel>
                     
                     <p:outputLabel value="Is Active ">
                         <p:inputText value="#{roleBean.role.active}">
                    </p:inputText>
                </p:outputLabel>
                     <p:commandButton value="edit" actionListener="#{roleBean.doedit()}" />
                     
                     
                     
                     
                
            
            </p:dialog>
             <!-- Dialog to view all users related to the role and removing them//////////////////////////////// -->
                
                 <p:dialog widgetVar="testviewroleusersanddelete" id="fdsfds1">
                     <p:dataTable value="#{roleBean.roleusers}" var="roleuser" id="roleuerslist">
                    <p:column headerText="UserName">
                        <p:outputLabel value="#{roleuser.user.userName}"/>
                    </p:column>
                         
                         <p:column headerText="First Name">
                             <p:outputLabel value="#{roleuser.user.firstName}"/>
                    </p:column>
                         
                         <p:column headerText="Last Name">
                             <p:outputLabel value="#{roleuser.user.lastName}"/>
                    </p:column>
                         <p:column headerText="UserName">
                             <p:outputLabel value="#{roleuser.user.active}"/>
                    </p:column>
                
                
                
                <p:column headerText="Remove From Role">
                    <p:commandButton value="removerole" actionListener="#{roleBean.removeroleuser()}" />
                    </p:column>
                     </p:dataTable>
                
            </p:dialog>
                
                
       <!-- Dialog for All Users to add to the role//////////////////////////////// -->
                
                 <p:dialog widgetVar="testaddroleuser" id="fdsfds2">
                     <p:dataTable value="#{roleBean.users}" var="user" id="userlistdata">
                    <p:column headerText="UserName">
                        <p:outputLabel value="#{user.userName}"/>
                    </p:column>
                
                <p:column headerText="password">
                    <p:outputLabel value="#{user.password}"/>
                </p:column><!-- comment -->
                
                <p:column headerText="First Name">
                    <p:outputLabel value="#{user.firstName}"/>
                </p:column><!-- comment -->
                
                <p:column headerText="Last Name">
                    <p:outputLabel value="#{user.lastName}"/>
                    </p:column>
                
                <p:column headerText="Is Active">
                    <p:outputLabel value="#{user.active}"/>
                    </p:column>
                
                <p:column headerText="Add to Role">
                    <p:commandButton value="adduser" actionListener="#{roleBean.addroleaction()}" />
                    </p:column>
                     </p:dataTable>
                
            </p:dialog>
                
                
                    <!-- Dialog to add actions to the role//////////////////////////////// -->
                <!--
                 <p:dialog widgetVar="testaddroleaction" id="fdsfds3">
                     <p:dataTable value="#{roleBean.actions}" var="action" id="userlistdata">
                    <p:column headerText="Code">
                        <p:outputLabel value="#{action.code}"/>
                    </p:column>
                         
                         <p:column headerText="Name">
                             <p:outputLabel value="#{action.name}"/>
                    </p:column>
                         
                         <p:column headerText="Title">
                             <p:outputLabel value="#{action.title}"/>
                    </p:column>
                         
                         <p:column headerText="Title Arabic">
                             <p:outputLabel value="#{action.titleAr}"/>
                    </p:column>
                         
                         <p:column headerText="URL">
                             <p:outputLabel value="#{action.url}"/>
                    </p:column>
                         <p:column headerText="Code">
                             <p:outputLabel value="#{action.active}"/>
                    </p:column>
                         
                         <p:column headerText="Add to Role">
                             <p:commandButton value="addaction" actionListener="#{roleBean.addroleaction()}" />
                    </p:column>
                
              
                     </p:dataTable>
                
            </p:dialog>
               -->
                
                </p:dataTable>



        </h:form>
    </h:body>
</html>

