<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
          
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Users</title>
    </h:head>
    <h:body>
        <h:form id="studentForm"> 
     
            <p:panelGrid columns="6" id="spanel">
                <p:outputLabel value="UserName: ">
                    <p:inputText required="true" value="#{userBean.user.userName}">
                    </p:inputText>
                </p:outputLabel>
                
                <p:outputLabel value="password: ">
                    <p:inputText required="true" value="#{userBean.user.password}">
                    </p:inputText>
                </p:outputLabel>
                
                <p:outputLabel value="FirstName: ">
                    <p:inputText required="true" value="#{userBean.user.firstName}">
                    </p:inputText>
                </p:outputLabel>
                
                <p:outputLabel value="LastName: ">
                    <p:inputText required="true" value="#{userBean.user.lastName}">
                    </p:inputText>
                </p:outputLabel>
                
                <p:outputLabel value="userName: ">
                    <p:inputText required="true" value="#{userBean.user.active}">
                    </p:inputText>
                </p:outputLabel>
                <p:commandButton value="Add User" actionListener="#{userBean.doadd()}"   update="studentlistdata,spanel"/>
           
            </p:panelGrid>
            <p:dataTable value="#{userBean.users}" var="user" id="studentlistdata">
                    <p:column headerText="UserName">
                        <p:outputLabel value="#{user.userName}"/>
                    </p:column>
                
                <p:column headerText="password">
                    <p:outputLabel value="#{user.password}"/>
                </p:column><!-- comment -->
                
                <p:column headerText="First Name">
                    <p:outputLabel value="#{user.firstName}"/>
                </p:column><!-- comment -->
                
                <p:column headerText="Last Name">
                    <p:outputLabel value="#{user.lastName}"/>
                    </p:column>
                
                <p:column headerText="Is Active">
                    <p:outputLabel value="#{user.active}"/>
                    </p:column>
                
                    <p:column headerText="edit">
                        <p:commandButton value="edit" onclick="PF('testdlg').show()" />
                    </p:column>                    
                    
                 <p:dialog widgetVar="testdlg" id="fdsfds">
                                <p:outputLabel value="UserName ">
                                    <p:inputText value="#{userBean.user.userName}">
                    </p:inputText>
                </p:outputLabel>
                     
                     <p:outputLabel value="Password ">
                         <p:inputText value="#{userBean.user.password}">
                    </p:inputText>
                </p:outputLabel>
                     
                     <p:outputLabel value="FirstName ">
                         <p:inputText value="#{userBean.user.firstName}">
                    </p:inputText>
                </p:outputLabel>
                     
                     <p:outputLabel value="LastName ">
                         <p:inputText value="#{userBean.user.lastName}">
                    </p:inputText>
                </p:outputLabel>
                     
                     <p:outputLabel value="Active ">
                         <p:inputText value="#{userBean.user.active}">
                    </p:inputText>
                </p:outputLabel>
                        <p:commandButton value="edit" actionListener="#{userBean.doedit()}" />
                
            
            </p:dialog>
                
                </p:dataTable>



        </h:form>
    </h:body>
</html>

