<nav class="navbar">
  <div class="container-fluid">
    <h1>Roles Management</h1>
    <div class="d-flex">
      <button (click)="clickAddRole()" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add New Role</button>
    </div>
  </div>
</nav>


<table class="table mt-3">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Title</th>
    <th scope="col">Arabic Title</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rolesData">
    <td>{{row.id}}</td>
    <td>{{row.name}}</td>
    <td>{{row.title}}</td>
    <td>{{row.titleAr}}</td>
    <td class="d-flex">
      <button (click)="getAllActions(row)" l class="btn btn-outline-warning me-2" data-bs-toggle="modal" data-bs-target="#addRoleActions">Add actions</button>
      <button (click)="getAllUsers(row)" l class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#roleUsers">Add users</button>
      <button (click)="getAllRoleUsers()" l class="btn btn-outline-danger me-2" data-bs-toggle="modal" data-bs-target="#removeRoleUsers">Remove RoleUser</button>
      <button (click)="onEdit(row)" class="btn btn-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit</button>
      <button (click)="deleteUser(row)"  class="btn btn-danger me-2">Delete</button>
      <button class="btn btn-warning" (click)="toggleActivation(row)">toggle activation</button>
    </td>
  </tr>
  </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="rolesList">
<!--          <div class="mb-3">-->
<!--            <label for="id" class="form-label">Id</label>-->
<!--            <input type="text" formControlName="id" class="form-control" id="id" aria-describedby="emailHelp">-->
<!--          </div>-->
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" formControlName="roleName" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="email" formControlName="roleTitle" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="titleAr" class="form-label">Arabic Title</label>
            <input type="text" formControlName="roleTitleAr" class="form-control" id="titleAr">
          </div>
<!--          <div class="mb-3">-->
<!--            <label for="isActive" class="form-label"></label>-->
<!--            <input type="checkbox" formControlName="isActive" class="form-control" id="isActive">-->
<!--          </div>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel3" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click)="updateUserDetails()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="roleUsers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="roleUsersTitle">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="rolesList">
<!--          <div class="mb-3">-->
<!--            <label for="id" class="form-label">Id</label>-->
<!--            <input type="text" formControlName="id" class="form-control" id="id" aria-describedby="emailHelp">-->
<!--          </div>-->
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" formControlName="roleName" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="email" formControlName="roleTitle" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="titleAr" class="form-label">Arabic Title</label>
            <input type="text" formControlName="roleTitleAr" class="form-control" id="titleAr">
          </div>
<!--          <div class="mb-3">-->
<!--            <label for="isActive" class="form-label"></label>-->
<!--            <input type="checkbox" formControlName="isActive" class="form-control" id="isActive">-->
<!--          </div>-->
        <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of rolesUsersData">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td><button (click)="addRoleUser(row)" class="btn btn-outline-primary">Add To Role</button></td>
          </tr>
          </tbody>
        </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel2" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--        <button type="button" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-primary">Add</button>-->
<!--        <button type="button" *ngIf="showUpdate" (click)="updateUserDetails()" class="btn btn-primary">Update</button>-->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="removeRoleUsers" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="roleUser">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of rolesUsersData">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td><button (click)="removeRoleUser(row)" class="btn btn-outline-danger">Remove From Role</button></td>
          </tr>
          </tbody>
        </table>
<!--        </form>-->
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--        <button type="button" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-primary">Add</button>-->
<!--        <button type="button" *ngIf="showUpdate" (click)="updateUserDetails()" class="btn btn-primary">Update</button>-->
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addRoleActions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="roleAction">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of actionsListData">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td><button (click)="addAction(row)" class="btn btn-outline-warning">Add to Role</button></td>
          </tr>
          </tbody>
        </table>
<!--        </form>-->
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--        <button type="button" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-primary">Add</button>-->
<!--        <button type="button" *ngIf="showUpdate" (click)="updateUserDetails()" class="btn btn-primary">Update</button>-->
      </div>
    </div>
  </div>
</div>


