<div class="container">
  <div class="row">
    <div class="col-xs-12" >
      <app-nav></app-nav>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

