<nav class="navbar">
  <div class="container-fluid">
    <h1>Module Management</h1>
    <div class="d-flex">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModulesModal" (click)="clickAddModule()"><i class="material-icons"></i> <span>Add New Module</span></button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
  <tr>

    <th>#</th>
    <th>Name</th>
    <th>Activate | Not Activate</th>
    <th colspan="2">Actions List</th>
    <th>Actions</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of moduleData">

    <td>{{row.code}}</td>
    <td>{{row.name}}</td>
    <td>{{row.state?'Active':'Not Active'}}</td>
    <td>
      <button (click)="onEditModule(row)" data-toggle="modal" data-target="#editModulesModal"class="btn btn-primary">Edit</button>
    </td>
    <td>  <button (click)="deleteModule(row)" class="btn btn-danger">Delete</button>
    </td>
    <td> <button  (click)="getModuleById(row)" class="btn btn-primary">ShowActions</button>
    </td>
  </tr>

  </tbody>
</table>


<!--    <div class="container-xl">-->
<!--        <div class="table-responsive">-->
<!--            <div class="table-wrapper">-->
<!--                <div class="table-title">-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-6">-->
<!--                            <h2>Manage <b>Modules</b></h2>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6">-->

<!--                            <a href="#addModulesModal" class="btn btn-success" data-toggle="modal" (click)="clickAddModule()"><i class="material-icons"></i> <span>Add New Module</span></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <table class="table table-striped table-hover">-->
<!--                    <thead>-->
<!--                        <tr>-->

<!--                            <td>#</td>-->
<!--                            <th>Name</th>-->
<!--                            <th>Activate | Not Activate</th>-->

<!--                        </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                        <tr *ngFor="let row of moduleData">-->

<!--                            <td>{{row.code}}</td>-->
<!--                            <td>{{row.name}}</td>-->
<!--                            <td>{{row.state?'Active':'Not Active'}}</td>-->
<!--                            <td>-->
<!--                                <button (click)="onEditModule(row)" data-toggle="modal" data-target="#editModulesModal"class="btn btn-primary">Edit</button>-->
<!--                            </td>-->
<!--                            <td>  <button (click)="deleteModule(row)" class="btn btn-danger">Delete</button>-->
<!--                            </td>-->
<!--                            <td> <button  (click)="getModuleById(row)" class="btn btn-primary">ShowActions</button>-->
<!--                            </td>-->
<!--                        </tr>-->

<!--                    </tbody>-->
<!--                </table>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Add Modal HTML -->
    <div id="addModulesModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="modulesForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Module</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" class="form-control" formControlName="code" >
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="form-group">
                            <span>Active | Not Active</span>
                            <hr>
                            <label class="switch">

                                <input type="checkbox"  formControlName="state">
                                <span class="slider round"></span>
                            </label>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" (click)="postModulesDetails()" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editModulesModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="modulesForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Module</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" class="form-control" formControlName="code">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="email" class="form-control" formControlName="name">
                        </div>
                        <div class="form-group">
                            <span>Active | Not Active</span>
                            <hr>
                            <label class="switch">

                                <input type="checkbox" formControlName="state">
                                <span class="slider round"></span>
                            </label>

                        </div>


                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" (click)="updateModulesDetails()" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>











